html{
    height: 100%;
}

body {
    font-family: Noto Sans, sans-serif;
    font-size: 11pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

#timer-box {
    text-align: center;
}

#timer {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

#time {
    font-family: Noto Mono, monospace;
    font-size: 2em;
}

#garden {
    margin: 3em 10em;
}

#marks {
    text-align: center;
}

.mark {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    background-color: #ccc;
    margin: 3px;
    display: inline-block;
}

.tomato {
    background-color: #EE2222;
    border: none;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#footer ul {
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

#footer ul li {
    display: inline-block;
}

#settings {
    cursor: pointer;
}

#github a img {
    background: url("./imgs/github-pressed.png");
}

#settings img {
    background: url("./imgs/settings-pressed.png");
}

#settings img, #github a img {
    box-sizing: border-box;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering:      pixelated;
    image-rendering:      crisp-edges;
    -ms-interpolation-mode: nearest-neigbor;
}

#settings img:active, #github a:active img{
    padding-left: 20px;
}
