$red: rgb(235, 90, 80);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.minuteSelection {
    margin: 1em 0.25em;

    font-size: 1.5em;
    line-height: calc(2.5em - 4px);
    width: 2.5em;
    height: 2.5em;

    border-radius: 5em;
    border: 4px solid $red;
    background-color: $red;
    color: white;

    cursor: pointer;
    transition: 0.15s all ease-in-out;

    &:active,
    &:focus,
    &:hover {
      border-color: black;
    }
}